/* IMPORTANT!
 *
 * See also the file Editor.Constants.js, where a number of other color attributes
 * are defined. URLs for recognition services are also defined there.
 *
 * (rlaz)
 */
body {
	background-color: #BBBBBB;
	overflow: hidden;
}

div {
	-webkit-user-select: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

div:focus {
	outline: none;
}

canvas:focus {
	outline:none;
}

svg:focus {
	outline:none;
}

div.equation_editor {
	
	width: 100%;
	height: 100%;
	
	position: absolute;
	left: 0px;
	top: 0px;
	font-family: 'Ubuntu', sans-serif;
	
}
/* used for any buttons to change mouse cursor*/
.button:hover {
	cursor: pointer;
}


div#relabel_menu {
	position: relative;
	top: 40px;
	overflow: hidden;
	width: 600px;
	height: 400px;
	margin: 0px auto;
	opacity: 0.6;
	border:8px solid #444444; /*#EEEEEF; /*DDDDDD;*/
	border-radius: 2px;
	-moz-box-shadow:  10px 10px 10px rgba(64,64,64,0.5);
	-webkit-box-shadow: 10px 10px 10px rgba(64,64,64,0.5);
	z-index: 1002;
}

div#rr_node_label {
	position: absolute;
	width: 100%;
	top: -2px;
	bottom: 93%;
	background-color: #CCCCCC; /*DDDDDD;*/
	font-size: 20px;
	font-height: 30px;
	font-effect: outline;
}

div#rr_close_button {
	position: absolute;
	width: 12%;
	border:1px;
	top: -2px;
	height: 34px;
	bottom: 93%;
	left: 87%;

	/* Text */
	text-align: center;
	font-size: 18px;
	/*color: #FFF; /*color: #FFE;*/
	 -webkit-text-stroke: 0.75px #000;
	font-family: 'Ubuntu', sans-serif;
	
	/* gradient */
	background: #FF5C49; /* old browsers */
	/*background: -moz-linear-gradient(top, #FF5C49 0%, #E89F99 29%, #FF5C49 94%); /* firefox */

	/* background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FF5C49), color-stop(35%,#E99F99), color-stop(100%,#FF6C49)); /* webkit */

	/* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF5C49', endColorstr='#FF5C49',GradientType=0 ); /* ie */

	/* background: -o-linear-gradient(top, #FF5C49 0%,#E89F99 29%,#FF5C49 94%); /* opera */
	/* end gradient */
	
	/* border */
	border-style: groove;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;				
	border-width: 2px 2px 2px 2px;
	border-color: #888;
	
}
div#rr_close_button:hover {
	background: #FF4732; /* old browsers */
	/* background: -moz-linear-gradient(top, #FF4732 0%, #F97C75 29%, #FF4935 94%); /* firefox */

	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FF4732), color-stop(50%,#F97C75), color-stop(100%,#FF4945)); /* webkit */

	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF4732', endColorstr='#FF4935',GradientType=0 ); /* ie */

	/* background: -o-linear-gradient(top, #FF4732 0%,#F97C75 29%,#FF4935 94%); /* opera */
}

span.rr_node {
	background-color: #B8B8B8;
	
	padding: 2px 4px 4px 5px;
	border-style: inset;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;				
	border-width: 0px 2px 2px 2px;
	border-color: #A8A8A8;
	height: 30px;

}
span.rr_node_delimiter {
	font-height: 23px;
	font-size: 15px;
}

div#rr_inner {
	position: absolute;
	border-style: inset;
	border: 2px inset #AAA;
	border-radius: 4px;
	left: -2px;
	height: 93%;
	width: 100%;
	margin: auto;
	top: 7%;
}
div#rr_up_tree {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 10%;
	background-color: #bbbbbb;
}

div#rr_center {
	position: absolute;
	overflow-y: scroll;
	overflow-x: hidden;
	top: 0%;
	height: 100%;
	width: 100%;
	background-color: #ccc;
}

div#rr_symbol_grid {
	position: relative;
	width: 100%;
	height: 100%;
}
div.symbol_cell {
	cursor: pointer;
	width: 33%;
	height:33%;
	float: left;
	background-color: rgba(196,196,196, 1);
	text-align: center;
	border-style: solid;
	border-width: 0px 1px 1px 0px;
	font-size: 40px;
	font-family: 'Ubuntu', sans-serif;
}

div#rr_category_list {
	position: absolute;
	width: 100%;
	height: 100%;
}
div.category_row {
	height: 25%;
	width: 100%;
	background-color: rgba(196,196,196, 1);
	text-align: center;
	max-height: 20%;
	max-width: 100%;
	font-size: 40px;
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	max-height: 20%;
	font-family: 'Ubuntu', sans-serif;
}

div.equation_canvas {
	display: block;
	background-color: #111111;
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	cursor: default;
}

/* Can we use inheritance to be less redundant here? */
div.equation_canvas_stroke {
	display: block;
	background-color: #111111;
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	cursor: crosshair;
}


/* toolbar stuff */
div.toolbar {
	position: relative;
	display: block; 
	
	margin-left: 2px;
	
	/** background color **/
	background: #888888; /* old browsers */
	background: -moz-linear-gradient(top, #BBBBBB 0%, #AAAAAA 37%, #999999 100%); /* firefox */

	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#BBBBBB), color-stop(37%,#AAAAAA), color-stop(100%,#787878)); /* webkit */

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#999999', endColorstr='#777777',GradientType=0 ); /* ie */

	background: -o-linear-gradient(top, #999999 0%,#888888 37%,#777777 100%); /* opera */
	
	left: 0px;
	top: 0px;
	height: 65px;
	width: 100%;
	overflow: hidden;
	

	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-top-width: 1px;
	border-bottom-color: #787878; 
	
}

div.toolbar_group {
	position: relative;
	top: 0px;
	height: inherit;
	width: auto;
	float:left;
}

div.toolbar_group_label {
	position: absolute;
	top: 80%;
	bottom: 0%;
	width: 100%;
	text-align: center;
	font-size: 14px;
	/*height: 16px;*/
	font-height: 16px;
	display: none;
}

div.toolbar_group_divider {
	top: 0px;
	width: 2px;
	height: inherit;
	background-color:  #666666;
	float:left;
	margin-left: 3px;
	margin-right: 3px;
}

div.toolbar_button {
	margin-top: 4px;
	margin-right: 2px;
	margin-left: 2px;
	margin-bottom: 2px;
	position: relative;
	float: left;
}

div.hidden_toolbar_button {
    display: none;
}

div.toolbar_button_overlay {
	position: absolute;
	top: -1px;
	left: -1px;
	height: 100%;
	width: 100%;
	float: left;
}

div.toolbar_button_selected {
	border-radius: 7px;			
	background-color: rgba(255,128,0,0.4);
	box-shadow: 0px 0px 2px #666 inset;
}

/* mouseover */
div.toolbar_button_enabled:hover {
	border-radius: 7px;			
	border-color: #000;
	background-color: rgba(43,43,213,0.15);
	box-shadow: 0px 0px 5px #8080D5;
}
/* mousedown */
div.toolbar_button_enabled:active {
	border-style:none;
	border-radius: 7px;			
	background-color: rgba(255,128,0,0.4);
	box-shadow: 0px 0px 4px #444 inset;
}

div.toolbar_button_disabled {
	border-radius: 7px;				
	background-color: rgba(128,96,96,0.4);
	box-shadow: 0px 0px 2px #000 inset;
}

div.toolbar_button_touched {
	border-style:inset;
	border-width:1px;
	border-radius: 2px;				
	border-color:#BBB;
	background-color: rgba(255,255,0,0.2);
}

div.toolbar_button_type {
	width: 50px;
	height: 50px;
	background-color: #111;
	margin: 5px;
	font-size: 20px;
}

div.toolbar_button_text {
	width: 50px;
	height: 50px;
	/* background-color: #111; */
	padding-top:14px;
	text-align: center;
	font-size: 50px;
	color: #333; /*CCC;*/
}

div.toolbar_button_icon {
	width: 50px;
	height: 50px;
	/* background-color: #111; */
	margin: 5px;
	/*padding: 5px;*/
}

/* Labels the buttons. */
div.toolbar_button_label {
	margin-bottom: 5px;
	width: 100%;
	text-align: center;
	font-size: 8px;
	display: none;
}

li.toolbar_button:hover {
/*background-color: #AAAA90;*/

	background-color: rgba(50, 50, 120, 0.8); 
}

input.image_upload {
	top: 0;
	right: 0;
	font-size: 10em;
	width: 100%;
	height: 100%;
	opacity: 0.5;
}

/* MISNAMED: This is actually the selection rectangle. */
div#bounding_box {
	position: absolute;
	/*outline: #303030 dashed 1px;*/
	border: 2px dashed #22D; /*dashed #333;*/
        padding: 1px;
        z-index: 1001;
}

/* Handles for the selection rectangles */
div.bb_handle {
	cursor: pointer;
	visibility: inherit;
	position: absolute;
	width: 22px;
	height: 22px;
	border: 2px solid #666;
	border-radius: 15px;
	background-color: #227;
	z-index: 1001;
}

/* This controls the appearance of overlaid recognition results. */
div.segment_set {
	position: absolute;
	/*background-color: rgba(50, 50, 50, 0.6); */
	color: rgba(255, 255, 255, 0.7);
	background-color: rgba(120, 50, 50, 0.5); 
	z-index: 999;
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	padding: 0;
	-moz-user-select: none;

	cursor: pointer;
}

/* This controls the appearance of overlaid recognition results. */
div.text_segment {
	position: absolute;
	color: rgba(255, 255, 255, 0.7);
	z-index: 999;
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	padding: 0;
	-moz-user-select: none;

	cursor: pointer;
}

/* This controls the appearance of overlaid recognition results. 
 * In the entry mode. */
div.segment_input_set {
	position: absolute;
	color: rgba(255, 255, 255, 0.7);

	background-color: rgba(50, 50, 120, 0.7); 
	/* background-color: rgba(50, 50, 50, 0.6);  */
	z-index: 999;
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	padding: 0;
	-moz-user-select: none;

	cursor: pointer;
}


div#selection_rectangle {
	position: absolute;
	border: 2px solid #54F;				
	z-index: 998;
}

svg.pen_stroke {
	position: absolute;
	z-index: 15;
}

.textDiv {
	-webkit-transform-origin: 0 0;
	font-size: 72px;
	line-height:0.85em;
	color: white;
	position: absolute;
	z-index: 15;
	top: 0;
	left: 0;
}


/* Text bars and search */
div#infobar-wrapper {
	position: relative;
	float: right;
	padding-left: 2px;
	padding-right: 10px;
	line-height: 25px;
	font-size: 14px;
	background-color: 111000;/*#d3d3d3;*/
	color: #111; /*#333; */
}

div#texwrapper {
	float: right;
}

div#tex_result {
	width: 100%;
	padding-left: 2px;
	padding-right: 5px;
	border: 1px solid #d3d3d3;
	font-family: 'Ubuntu', sans-serif;
}

div#engineSelector {
	float: bottom;
}

/* Logos */
div#logobar-wrapper {
	position: absolute;
	bottom: 35px;
	height: 100px;
	width: 100%;
}

div#logobar-wrapper div#logobar-left {
	float: left;
	margin-left: 20px;
}

div#logobar-wrapper div#logobar-right {
	float: right;
	margin-right: 20px;
}

div#logobar-wrapper div#logobar-mid {
	text-align: center;
}

div#logoboar-wrapper div#logobar-text {
	margin-left: 20px;
	text-align: center;
}
